
$svg-table-border-color: #FFFFFF;
$body-background-position: center center;
$body-background-repeat: no-repeat;
$body-background-size: cover;
$svg-table-decoration-color: #FFFFFF;
$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 544px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1400px
);
$brand-secondary: #092449;
$brand-primary: #B82C24;
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-root: 16;
$body-bg: rgba(0, 0, 0, 0.88);
$gray-lighter: #eceeef;
$gray-light: #afafaf;
$gray: #55595c;
$gray-dark: #373a3c;
$body-bg-blend-mode: normal, overlay;
$gray-lightest: #f7f7f9;
$bg_color: #FFFFFF;
$sidebar_text_color: #FFFFFF;
$sidebar_bg_color: black;
$svg-row-border-bottom: $brand-primary;
$font-family-base: $font-family-sans-serif;

$card-border-width: 1px;
$card-border-color: #bfbfbf;
$border-radius: 0px;
$card-border-radius: 0px;

$brand-danger: #6F120E;

$card-title-bgcolor: #FFF;



// Set a namespace to avoid conflicts
.uses-bootstrap{
	
	
	@import "./app.scss";
	
	#portfolio-filter{
		text-align: left;
	}
	
	
	#portfolio-filter li {
	    display: inline-block;
	    margin-bottom: 10px;
	}
	
	#portfolio-filter li a:after{
		content: " / ";
	    margin-right: 3px;
	    color: $brand-secondary;
	}
	
	#portfolio-filter li:last-child a:after{
		content: "";
	}
	
	#portfolio-filter li a{
		width: max-content; 
		display: block; 
		text-decoration: none;
	}
	
	#portfolio-filter li a.active{
		color: $brand-primary;
	}
	
	img[src*="loading"]{
		width: 50px !important;
	
	}
	
	.card{
		perspective: 1px;

	}
	
	.card-img p{
		margin: 0 !important;
	}
	
	.card-img-overlay{
		padding: 1rem;
	}
	
	.card .card-title{
		@extend .title;
		font-family: 'Oswald',sans-serif;
	    text-transform: uppercase;	
	}
	
	.card-title .a{
		text-decoration: none !important;
	    background-color: $card-title-bgcolor;
	    left: 10px;
	    position: relative;	
	}

	.card-title .a::before{
		position: absolute;
	    top: 0;
	    right: 100%;
	    content: '';
	    width: 20px;
	    height: 100%;
	    bottom: 0;
	    background-color: inherit;	
	}
	.card-title .a span{
		position: relative;
		left: -10px;
	}
	
	.card-title a::hover, .card-title .a::hover{
		text-decoration: underline;
	}
	
	@-moz-document url-prefix() {
	  .card-title .a {
	    box-decoration-break: clone;
	    left: 0;
	    padding-left: 10px;
	    padding-right: 10px;
	    line-height: 1.2;
	  }
	  .card-title .a span {
	    left: 0;
	  }
	  .card-title .a::before {
	    display: none;
	  }
	}
	
	
	.card-title small{
		color: darken(#fff, 30%);
		font-size: 65%;
	}
	// card paging styles
	.container-fluid{
		box-sizing: border-box !important;
	}
	.container-fluid *{
		box-sizing: border-box !important;
	}
	.nextprev{
		position: relative;
		transform: scale(1);
		max-width: 260px;
		transition: transform .1s ease;
		cursor: pointer;

	}
	.nextprev-previous{
		margin-left: 2.5rem;
	}
	.nextprev-next{
		margin-right: 2.5rem;
	}
	.nextprev-previous::before, .nextprev-next::after{
		position: absolute;
	    font-size: 5rem;
	    color: #6F120E;
	    height: auto;
	    line-height: 0;
	    background-color: #B1B1B1;
	    top: 0;
	    bottom: 0;
	    margin: auto;
	    box-sizing: border-box;
	    z-index: 1;
	    height: 100%;
	    height: calc(100% + 2px);
	    width: 30px;
	    background-size: contain;
	    background-repeat: no-repeat;
	    background-position: center center;
	    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="88" height="98" viewBox="0, 0, 88, 98"><g id="Layer_1"><path d="M52.697,89.538 Q52.697,90.805 51.806,91.779 L47.35,96.651 Q46.459,97.625 45.3,97.625 Q44.141,97.625 43.25,96.651 L1.719,51.247 Q0.828,50.273 0.828,49.006 Q0.828,47.74 1.719,46.765 L43.25,1.362 Q44.141,0.388 45.3,0.388 Q46.459,0.388 47.35,1.362 L51.806,6.233 Q52.697,7.208 52.697,8.474 Q52.697,9.741 51.806,10.715 L16.781,49.006 L51.806,87.297 Q52.697,88.271 52.697,89.538 z M86.92,89.538 Q86.92,90.805 86.029,91.779 L81.573,96.651 Q80.682,97.625 79.523,97.625 Q78.364,97.625 77.473,96.651 L35.942,51.247 Q35.051,50.273 35.051,49.006 Q35.051,47.74 35.942,46.765 L77.473,1.362 Q78.364,0.388 79.523,0.388 Q80.682,0.388 81.573,1.362 L86.029,6.233 Q86.92,7.208 86.92,8.474 Q86.92,9.741 86.029,10.715 L51.004,49.006 L86.029,87.297 Q86.92,88.271 86.92,89.538 z" fill="%236F120E"/></g></svg>');
	}
	.nextprev-previous::before{
/* 		content: '\00AB'; */
		content: '';
		left: -2.3rem;
		border-radius: 5px 0 0 5px;
	}
	.nextprev-next::after{
/* 		content: '\00BB'; */
		content: '';
		right: -2.3rem;
		border-radius: 0 5px 5px 0;
	    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="88" height="98" viewBox="0, 0, 88, 98"><g id="Layer_1"><path d="M35.177,89.532 Q35.177,90.798 36.068,91.773 L40.524,96.644 Q41.415,97.619 42.574,97.619 Q43.733,97.619 44.624,96.644 L86.155,51.241 Q87.046,50.267 87.046,49 Q87.046,47.733 86.155,46.759 L44.624,1.356 Q43.733,0.381 42.574,0.381 Q41.415,0.381 40.524,1.356 L36.068,6.227 Q35.177,7.202 35.177,8.468 Q35.177,9.735 36.068,10.709 L71.093,49 L36.068,87.291 Q35.177,88.265 35.177,89.532 z M0.954,89.532 Q0.954,90.798 1.845,91.773 L6.301,96.644 Q7.193,97.619 8.351,97.619 Q9.51,97.619 10.401,96.644 L51.932,51.241 Q52.823,50.267 52.823,49 Q52.823,47.733 51.932,46.759 L10.401,1.356 Q9.51,0.381 8.351,0.381 Q7.193,0.381 6.301,1.356 L1.845,6.227 Q0.954,7.202 0.954,8.468 Q0.954,9.735 1.845,10.709 L36.87,49 L1.845,87.291 Q0.954,88.265 0.954,89.532 z" fill="%236F120E"/></g></svg>');
		
	}
	.nextprev:hover{
		transform: scale(1.1);
	}
	.nextprev .panel-body{
		background-size: cover;
		background-position: center center;
		position: relative; 
		height: 0;
		padding-bottom: 75%;
	}
	.nextprev-next{
		float: right;
	}
	.nextprev-next .card-header{
		text-align: right;
	}

	.card-inverse{
		color: #fff;
	}	
		
	.seo-holder{
		display: none; 
	}
	.inline-feature-holder{
		outline: solid 3px gray;
		background-color: gray;
		margin-bottom: 1rem;
		padding: 1.5rem 0;
	}
	.inline-feature-holder::before{
		content: "Advertisement";
		position: absolute;
	    top: 0;	
	    left: 0;
	    right: 0;
	}
	
	p{
		color: inherit;
	}
	
	img{
		max-width: 100%;
	}
	.red-light {
		color: #CE4D4D;
	}
	.red-dark {
		color: #6F120E;
	}
	.title {
		color: #6F120E;
		font-size: 24px;
		font-family: 'Oswald', sans-serif;
	/* 	line-height: 24px; */
		line-height: 1;
		text-transform: none;
		
	}
	.title a, a.title {
		color: #6F120E;
		font-size: 24px;
		font-family: 'Oswald', sans-serif;
	/* 	line-height: 32px; */
		line-height: 1.25;
		text-transform: none;
	}
	
	table {
	        border-collapse: collapse;
	    }
	#one td {
	        border: 1px solid #000000; 
			height: 57px;
	}
	   
	
	.centered-table a {
	color: #ce4d4d;
	}
	.test-table {
	   margin-left: auto;
	   margin-right: auto;	
		
	}	
	
	.fa{
	    min-width: initial;
	    color: inherit;
	    padding: 0;
	    cursor: auto;
	}
	
	img{
		max-width: 100%;
	}

}