@import 'bootstrap/variables';
@import 'bootstrap/mixins';

$brand-secondary: black !default;
$btn-secondary-color:            #fff !default;
$btn-secondary-bg:               $brand-secondary;
$btn-secondary-border:           $brand-secondary;

$heading-selectors: 'h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .sidebartext';

// @import "bootstrap/bootstrap"; 

// can use variables from bootstrap
$footerheight: 100px;

$weekly-standard-red: #D8353C;

$washington-examiner-blue: #C4CCDE;


$svg-table-border-color: #FFFFFF;
$body-background-position: center center;
$body-background-repeat: no-repeat;
$body-background-size: cover;
$svg-table-decoration-color: #FFFFFF;
$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 544px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1400px
);
$brand-secondary: #092449;
$brand-primary: #B82C24;
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-root: 16;
$body-bg: rgba(0, 0, 0, 0.88);
$gray-lighter: #eceeef;
$gray-light: #afafaf;
$gray: #55595c;
$gray-dark: #373a3c;
$body-bg-blend-mode: normal, overlay;
$gray-lightest: #f7f7f9;
$bg_color: #FFFFFF;
$sidebar_text_color: #FFFFFF;
$sidebar_bg_color: black;
$svg-row-border-bottom: $brand-primary;
$font-family-base: $font-family-sans-serif;

$card-border-width: 1px;
$card-border-color: #bfbfbf;
$border-radius: 0px;
$card-border-radius: 0px;

$brand-danger: #6F120E;

$card-title-bgcolor: #FFF;

$brand-secondary: black !default;
$btn-secondary-color:            #fff !default;
$btn-secondary-bg:               $brand-secondary;
$btn-secondary-border:           $brand-secondary;

$heading-selectors: 'h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .sidebartext';
