.ccm-ui {
	margin:0;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:13px;
	font-weight:400;
	line-height:18px;
	color:#333;
}
.ccm-ui .popover.below {
	margin-top:-5px;
}

.ccm-ui .popover.above {
	margin-top:5px;
}

.ccm-ui .popover.above .arrow {
	bottom:0;
	left:50%;
	margin-left:-5px;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-top:5px solid #000;
}

.ccm-ui .popover.below .arrow {
	top:0;
	left:50%;
	margin-left:-5px;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-bottom:5px solid #000;
}

.ccm-ui .popover .title {
	padding:9px 15px;
	line-height:1;
	background-color:#f5f5f5;
	border-bottom:1px solid #eee;
	-webkit-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
}

.ccm-ui .popover .content {
	padding:14px;
	background-color:#fff;
	-webkit-border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	border-radius:0 0 3px 3px;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;
	background-clip:padding-box;
}

.ccm-ui .popover .content p,.ccm-ui .popover .content ul,.ccm-ui .popover .content ol {
	margin-bottom:0;
}

.ccm-ui .popover .inner {
	padding:3px;
	width:280px;
	overflow:hidden;
	background:#000;
	background:rgba(0,0,0,0.8);
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow:0 3px 7px rgba(0,0,0,0.3);
	-moz-box-shadow:0 3px 7px rgba(0,0,0,0.3);
	box-shadow:0 3px 7px rgba(0,0,0,0.3);
}


.ccm-ui .popover {
	position:absolute;
	top:0;
	left:0;
	z-index:1010;
	display:none;
	padding:5px;
}

.ccm-ui .popover.top {
	margin-top:-5px;
}

.ccm-ui .popover.right {
	margin-left:5px;
}

.ccm-ui .popover.bottom {
	margin-top:5px;
}

.ccm-ui .popover.left {
	margin-left:-5px;
}

.ccm-ui .popover.top .arrow {
	bottom:0;
	left:50%;
	margin-left:-5px;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-top:5px solid #000;
}

.ccm-ui .popover.right .arrow {
	top:50%;
	left:0;
	margin-top:-5px;
	border-top:5px solid transparent;
	border-bottom:5px solid transparent;
	border-right:5px solid #000;
}

.ccm-ui .popover.bottom .arrow {
	top:0;
	left:50%;
	margin-left:-5px;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-bottom:5px solid #000;
}

.ccm-ui .popover.left .arrow {
	top:50%;
	right:0;
	margin-top:-5px;
	border-top:5px solid transparent;
	border-bottom:5px solid transparent;
	border-left:5px solid #000;
}

.ccm-ui .popover .arrow {
	position:absolute;
	width:0;
	height:0;
}

.ccm-ui .popover-inner {
	padding:3px;
	width:280px;
	overflow:hidden;
	background:#000;
	background:rgba(0,0,0,0.8);
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow:0 3px 7px rgba(0,0,0,0.3);
	-moz-box-shadow:0 3px 7px rgba(0,0,0,0.3);
	box-shadow:0 3px 7px rgba(0,0,0,0.3);
}

.ccm-ui .popover-title {
	padding:9px 15px;
	line-height:1;
	background-color:#f5f5f5;
	border-bottom:1px solid #eee;
	-webkit-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
}

.ccm-ui .popover-content {
	padding:14px;
	background-color:#fff;
	-webkit-border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	border-radius:0 0 3px 3px;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;
	background-clip:padding-box;
}

.ccm-ui .popover-content p,.ccm-ui .popover-content ul,.ccm-ui .popover-content ol {
	margin-bottom:0;
}


div.ccm-menu {
	z-index:2000;
	text-align:left;
}

div.ccm-menu div.popover {
	display:block;
	border:0;
	width:auto;
	background:transparent!important;
	margin:0!important;
	padding-left:0!important;
	padding-right:0!important;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

div.ccm-menu div.popover div.inner {
	width:180px;
}

div.ccm-menu div.popover div.inner div.content {
	margin:0;
	padding:0;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}

div.ccm-menu ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

div.ccm-menu ul li {
	list-style-type:none;
}

div.ccm-menu ul li:first-child a {
	border-radius:6px 6px 0 0;
	-webkit-border-radius:6px 6px 0 0;
	-moz-border-radius:6px 6px 0 0;
}

div.ccm-menu ul li:last-child a {
	border-radius:0 0 6px 6px;
	-webkit-border-radius:0 0 6px 6px;
	-moz-border-radius:0 0 6px 6px;
}

div.ccm-menu ul li:only-child a {
	border-radius:6px!important;
}

div.ccm-menu ul a {
	display:block;
	color:#333;
	padding:4px 10px 4px 28px;
	text-decoration:none;
	font-size:12px;
}

div.ccm-menu ul a:hover {
	background-color:#e0f2fe;
	color:#333;
	text-decoration:none;
}