/*


.red-light {
	color: #CE4D4D;
}
.red-dark {
	color: #6F120E;
}
.title {
	color: #6F120E;
	font-size: 24px;
	font-family: 'Oswald', sans-serif;
	line-height: 1;
	text-transform: none;
	
}
.title a, a.title {
	color: #6F120E;
	font-size: 24px;
	font-family: 'Oswald', sans-serif;
	line-height: 1.25;
	text-transform: none;
}

table {
        border-collapse: collapse;
    }
#one td {
        border: 1px solid #000000; 
		height: 57px;
   }
   

.centered-table a {
color: #ce4d4d;
}
.test-table {
   margin-left: auto;
   margin-right: auto;	
	
}
*/