
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-serif:      Georgia, "Times New Roman", Times, serif;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:       "Ubuntu", $font-family-sans-serif;

$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;


$brand-primary:             #2b84a4;
$brand-success:             #53882b;
$brand-info:                #ba8668;
$brand-warning:             #f0ad4e;
$brand-danger:              #93121c;
$brand-inverse:             #0c3a02;



$blue: #005293;
$green: #2FA42F;
$yellow: #E5CA68;
$red: #C93626;
$white: #fff;
$black: #000;


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-flex:               true;
$enable-rounded:            true;
$enable-shadows:            true;
$enable-gradients:          true;
$enable-transitions:        true;
$enable-hover-media-query:  false !default;
$enable-grid-classes:       true !default;
$enable-print-styles:       true !default;


$border-radius: 2px;
$border-width: 2px;

$input-box-shadow: inset 0 1px 3px -1px #000;
$input-box-shadow-focus: 0 3px 7px -2px #000;

$input-border-color: #55595c;




html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

@-ms-viewport {
  width: device-width; }

html {
  font-size: 16px;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

body {
//   font-family: $font-family-base;
  font-size: 1rem;
  line-height: 1.5;
  color: #373a3c;
  background-color: #fff; }


body {
  margin: 0; }

[class="editor-bootstrap"]{
  font-family: $font-family-base;
}

[class="editor-bootstrap"]{
  font-family: $font-family-base;
}

.modal-backdrop.show{
	opacity: .5;	
}

.editor-bootstrap {
	
@import "bootstrap/bootstrap";

	.nav {
	    padding-top: 4px;
	}
	.navbar{
	    padding: .2rem 1rem;
	}
	.in{
		@extend .show;
	}
	.btn + .btn, .nav-item + .nav-item{
		margin-left: .5rem;
	}
	
	.btn, .btn.nav-link, .navbar-nav .nav-link{
		padding: 0.3rem 0.4rem;
	    padding-top: .3rem;
	    padding-bottom: .3rem;
	}
	.btn{
		box-shadow: 1px 1px 0px 0px #585858;
	    background-image: linear-gradient(transparent,rgba(255, 255, 255, 0.38) 50%,transparent);
	    background-size: 200%;
	    transition-duration: .2s;
	}
	.btn:active{
		box-shadow: 0px 0px 0px 0px #585858;
		transform: translate(1px, 1px);
	    background-image: linear-gradient(transparent,rgba(255, 255, 255, 0.38) 50%,transparent);
	    transition-duration: 0s;
	}
	
	.editor-bar, .navbar{
		background-color: white; position: fixed; top: 0; left: 0; width: 100%;z-index: 9990; min-height: 40px; 
		box-shadow: 0px 2px 7px #585858;
		background-image: linear-gradient(#ffffff 0%, #d6d6d6 100%);
		
	}	
	
	.page-link{
	    padding: .3rem .45rem;
	}
	
	.bg-inverse{
		background-color: #424141 !important;
	}
	
	.input_token > .tag{
		position: relative;
		.close{
			position: absolute;
			top: 0;
			right: 3px;
		}
	}
	.selected_author_text, .input_token_text{
		padding-right: 2rem;
		white-space: normal;
	}
	
	.related-files-outer:empty{
		box-shadow: inset 0px 0px 11px black;
	    border-radius: 5px;		
	    position: relative;
	}
	.related-files-outer:empty:after{
	    content: "Drag files here to relate them to the story";
	    text-align: center;
	    display: block;
	    width: 100%;
	    margin: auto;
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    height: 1.5rem;	
    }	
    
    .tag{
	    @extend .badge;
    }
    .tag-primary{
	    @extend .badge-primary;
    }
}

/* Frontend Editing - taken from quicksand */
img, svg{
	max-width: 100%;
	height: auto;
}

.EDITOR--btn{
	border: solid 1px #d2d2d2;
    cursor: pointer;
    color: #5f5d5d;
    padding: 6px 8px;
    box-shadow: 0 2px 7px #585858;
    background-image: linear-gradient(transparent,rgba(255, 255, 255, 0.38) 50%,transparent);
    margin-bottom: 5px;
}
.EDITOR--btn[disabled]{
	opacity: .5;
	
}
.EDITOR--btn_sm{
	@extend .EDITOR--btn;
	padding: 2px 3px;
    box-shadow: 0 2px 3px #585858;
}
.EDITOR--btn:focus{
	outline: none;
}    
.EDITOR--btn:active{
	box-shadow: 0 1px 3px #585858;	
}

.tiny-edit-button{
	@extend .EDITOR--btn;
	padding: 2px 3px;
	
}

.tiny-delete-button{
	@extend .EDITOR--btn;	
	background-color: red;
	color: white;
	padding: 2px 3px;
}

.EDITOR--edit_button{
@extend .EDITOR--btn;
}

/* .tiny-edit-button:hover + *, .tiny-edit-button + *:hover, .ccm_active{ */
.blockeditwrapper{
	border: 2px dashed rgba(183, 183, 183, 0.5);
	margin-bottom: 5px;
	min-height: 40px;	
	position: relative;
}

.blockeditwrapper:hover, .blockeditwrapper.blockeditwrapper_focused{
    cursor: pointer;
    border: 2px dashed #b52323;
    box-shadow: 0px 0px 3px black, inset 0px 0px 6px black;
    border-radius: 3px;
}
.blockeditwrapper:before{
	content: " ";
	position: absolute;
	background-color: rgba(0, 0, 0, 0.58);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
}
.blockeditwrapper:hover:before, .blockeditwrapper.blockeditwrapper_focused:before{
	display: block;
}
.blockeditwrapper:hover *{
	-webkit-filter: grayscale(1);
}

.blockeditwrapper::after{
	content: "";
    display: table;
    clear: both;
}


#dz-previews{
	position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8);
	z-index: 99999;
}
#dz-previews:empty{
	display: none;
}
.uploadcover{
	display: none;
}
.uploadcover > span{
	position: absolute;
	top:0;bottom:0;
	height: 80px;
	margin: auto;
	left: 0;
	right: 0;
}
body.dz-drag-hover .uploadcover, .dz-drag-hover.uploadcover, .showing.uploadcover{
	display: block;
	height: 100vh;
	font-size: 50px;
	text-align: center;
	position: fixed;
	top: 0; left: 0;
	margin: auto;
	width: 100%;
	color: white;
	z-index: 99999;
	background-color: rgba(0, 0, 0, 0.8);
}

.popover{
	z-index: 1030;
}

html.logged_in{
	padding-top: 40px !important;
}
html.logged_in .navbar-fixed-top, html.logged_in .navbar.fixed-top{
	top: 40px;
}
html.logged_in .navbar-fixed-top.editor-bar{
	top: 0 !important;
}
/*
html{
	margin-top: 50px !important;
}
*/
.header-fixed .header.header-sticky{
	top: 50px;
}

.edit-span-wrapper:hover{
	outline: dotted 2px red;
}
.ui-dialog{
	left: 0 !important;
	right: 0 !important;
	top: 0 !important;
	bottom: 0 !important;
	width: 90% !important;
	height: 90% !important;
	margin: auto;
}
#ccm-dialog-content1{
	height: calc(100% - 54px) !important;
	width: 100% !important;
}
.EDITOR--btn-block{
	display: block;
	clear: both;
}

.editor-bootstrap .modal-open .modal, .modal-open .editor-bootstrap .modal {
    overflow-x: hidden;
    overflow-y: auto; 
}
    

.ace{
	width: 100%;
	min-height: 400px;
}	

.btn-default{
	@extend .btn-secondary;
}

.text-right{
	@extend .text-xs-right !optional;
}

@import "design_toolbar";

/*
	.bg-inverse{
		background-color: #424141 !important;
	}
*/
